@charset "utf-8";
/* Global Styles */

body {
  background-color: black;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
	color: white;
	font-size: 11px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 22px;
}
h2 {
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 25px;
}