@charset "utf-8";
/* Global Styles */

body {
  background-color: black;
  font-family: "Walkway Expand SemiBold";
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
	color: #60B5FE;
	font-size: 12px;
	font-weight: bold;
	margin: auto;
}

h1 {
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
h2 {
	color: white;
	text-align: center;
	font-size: 15px;
	padding-bottom: 50px;
}